body {
	//background-color: darken(#A62D00, 10%);
	//background: linear-gradient(-90deg, lighten(#A62D00, 25%), lighten(#A62D00, 10%), lighten(#A62D00, 25%));
}

.container {
	@extend %clearfix;
	padding: 0 3em 3em 3em;
	margin: 0 auto;
	opacity: .9;
	max-width: $max-width;
}

.topbar {
	@extend .whole;
	@include gen_links;

	h1 {
		font-family: 'source_sans_proregular';
	}

	nav > ul > li{
		list-style: none;
		display: inline;
		font-family: 'open_sansregular';
		padding-right: 1em;
		@include small-nav;
	}

	nav > ul {
		padding-left: 0;
		margin: 0 auto;
	}
}

.posts {
	@extend .two-third;
	float: left;
	@include small-content;
}

.post {
	@extend .whole;
	padding: 2em 0;
}

.post_header {

}

.post_title {
	font-family: 'noto_sansregular', sans-serif;
	margin-bottom: 0;
	@include gen_links;
	&:not(:first-child){
		padding-top: 1em;
	}
}

.post_details {
	@extend .third;
	display: inline;
}

.post_desc{
	font-family: 'news_cyclebold', sans-serif;
	@media screen and (max-width: $small-bp){
		display: none;
	}
}

.post_content {
	font-family: 'source_sans_proregular', sans-serif;
	padding: 15px;
	color: $text;
	@include post_links;
	border: 1px solid rgba(0,0,0,0.3);
	@include box-shadow();
	border-radius: 3px;
}

.adds {
	@extend .third;
	float: right;
	position: relative;
	height: auto;
	top: 1em;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	//background: linear-gradient(darken($secondary, 2%), lighten($primary, 5%), darken($secondary, 2%));
	@include box-shadow;
	@include medium-aside;
}

.search {
	padding: 1em 0;
	margin: 0 2em;

	input[type="search"] {
		margin-left: 0;
		@include search-field;
	}

	.button {
		font-family: 'open_sanssemibold';
		margin-left: .15em;
		@include search-button;
	}
}

.contact {
	h4 {
		padding-left: 1em;
	}

	@media screen and (max-width: $medium-bp){
		margin: 0 2.75em;
	}

	> ul {

	 	li {
	 		list-style-type: none;
	 		display: inline;
	 	}
	 	a {
	 		text-decoration: none;
	 	}
	}

	a > svg {
		padding-right: 2.5em;
		@media screen and (max-width: 1150px){
			padding-right: 1.0em;
			margin-left: 1em;
		}
		@media screen and (max-width: 1050px){
			padding-right: .5em;
			margin-left: .75em;
		}
		@media screen and (max-width: 950px){
			padding-right: .25em;
			margin-left: .5em;
		}
		@media screen and (max-width: $medium-bp){
			padding-right: 3.0em;
			margin-left: .75em;
		}
		&:nth(last-child){
			padding-right: 0;
		}
	}
}

.svg_mail {
	@include svg_colorize(2, 80, 214, 1);
}

.svg_git {
	@include svg_colorize(50, 50, 50, 1);
}

.svg_twitter {
	@include svg_colorize(16, 121, 255, 1);
}

.svg_google {
	@include svg_colorize(250, 5, 17, 1);
}

.footer {
	@extend .whole;
	float: left;
	position: relative;
}
