$gutter: 24px;
$max-width: 1200px;

// Colors

$primary: #36D792;
$secondary: #218457;

$primary_comp: #FF4500;
$secondary_comp: #BF5730;

// Fonts
$text: #111;
$link: #218359;
$link_active: #FF9973;
$link_hover: #BF5930;
$link_visited: #007241;

$shadow: #FF9973;
$border: solid rgba(0,0,0,0.3);

// Media Breakpoints
 $small-bp: 320px;
 $medium-bp: 600px;
 $large-bp: 900px;

// Media Query Mixins
 @mixin small-content {
	@media screen and (max-width: $medium-bp){
		@extend .mobile-grid;
		width: 100%;
		float: none;

		.post_title {
			margin-bottom: 0;
		}
	}
 }

 @mixin medium-aside {
 	@media screen and (max-width: $medium-bp){
 		@extend .mobile-grid;
 		float: none;
 		width: 100%;
 	}
 }

 @mixin search-button {
 	@media screen and (max-width: $max-width){
		margin-top: .25em;
		width: 100%;
	}
 }

 @mixin search-field {
 	@media screen and (max-width: $max-width){
		margin: 0 auto;
		width: 100%;
	}
 }

 @mixin small-nav {
 	@media screen and (max-width: $medium-bp){
		display: block;
		max-width: 100%;
		background: linear-gradient(#DDD, #AAA, #DDD);
		padding: 0.5em 0;
		margin: .25em auto;
		a {
			color: $text;
			padding-left: .25em;
		}
		border: 1px solid rgba(0,0,0,0.3);
 	}
 }

 // General Styling Mixis

@mixin gen_links {
	a {
		color: $text;
		text-decoration: none;
		//text-shadow: 1px 1px 2px complement($text);
		&:hover {
			text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}
	}
}

@mixin post_links {
	a {
		color: lighten($text, 30%);
		text-decoration: none;
		&:hover {
			color: $link_hover;
		}
		&:active {
			color: $link_active;
		}
	}
}

@mixin box-shadow($color:rgba(0,0,0,0.5)){
	box-shadow: 1px 2px 5px $color;
}

@mixin svg_colorize($red, $green, $blue, $alpha) {
	fill: rgba($red, $green, $blue, $alpha);
	&:hover {
		fill: rgba($red, $green, $blue, $alpha - .2);
	}
}
