* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// Desktop Grid
.grid {
	max-width: 1200px;
	margin: 0 auto;
}

.whole {
	@extend .grid;
	width: 100%;
}

.third {
	@extend .grid;
	width: 33%;
}

// Mobile Grid


.two-third {
	@incldue mobile-grid;
	width: 66%;
}
.one-third {
	@incldue mobile-grid;
	width: 86%
}
