$gutter: 24px;
$max-width: 1200px;

// Colors
$primary: #36D792;
$secondary: #218457;
$primary_comp: #FF4500;
$secondary_comp: #BF5730;
$shadow: #FF9973;
$border: solid rgba(0,0,0,0.3);

// Fonts
$text: #111;
$link: #218359;
$link_active: #FF9973;
$link_hover: #BF5930;
$link_visited: #007241;

// Media Breakpoints
$small-bp: 320px;
$medium-bp: 600px;
$large-bp: 900px;
