server {
    listen       ${OPENSHIFT_DIY_IP}:${OPENSHIFT_DIY_PORT};
    server_name  localhost;

    charset      utf-8;

    access_log  ${OPENSHIFT_DIY_LOG_DIR}/access.log;  main;

    set $root_path '${OPENSHIFT_REPO_DIR}/web/public';

    location / {
        root   $root_path;
        index  index.php index.html index.htm;

        # if file exists return it right away
        if (-f $request_filename) {
            break;
        }

        # otherwise rewrite it
        if (!-e $request_filename) {
            rewrite ^(.+)$ /index.php?_url=/$1 last;
            break;
        }
    }

    location ~ \.php {
        # try_files    $uri =404;

        fastcgi_index  /index.php;
        fastcgi_pass   unix:${OPENSHIFT_RUN_DIR}/php-fpm.socket;

        include fastcgi_params;
        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~* ^/(css|img|js|flv|swf|download)/(.+)$ {
        root $root_path;
    }
}
