worker_processes 1;
worker_rlimit_nofile 8192;

error_log ${OPENSHIFT_DIY_LOG_DIR}/error.log;
pid ${OPENSHIFT_DIY_DIR}/runtime/nginx.pid;

events {
  # When you need > 8000 * cpu_cores connections, you start optimizing
  # your OS, and this is probably the point at where you hire people
  # who are smarter than you, this is *a lot* of requests.
  worker_connections  8000;

  # This sets up some smart queueing for accept(2)'ing requests
  # Set it to "on" if you have > worker_processes
  accept_mutex off;

  # These settings are OS specific, by defualt Nginx uses select(2),
  # however, for a large number of requests epoll(2) and kqueue(2)
  # are generally faster than the default (select(2))
  # use epoll; # enable for Linux 2.6+
  # use kqueue; # enable for *BSD (FreeBSD, OS X, ..)
}

http {

# Enable Gzip
    gzip  on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_min_length 1100;
    gzip_buffers     4 8k;
    gzip_proxied any;
    gzip_types
      # text/html is always compressed by HttpGzipModule
      text/css
      text/javascript
      text/xml
      text/plain
      text/x-component
      application/javascript
      application/json
      application/xml
      application/rss+xml
      font/truetype
      font/opentype
      application/vnd.ms-fontobject
      image/svg+xml;

    gzip_static on;

    gzip_proxied        expired no-cache no-store private auth;
    gzip_disable        "MSIE [1-6]\.";
    gzip_vary           on;

    server {
    listen       ${OPENSHIFT_DIY_IP}:${OPENSHIFT_DIY_PORT};
    server_name  localhost;

    charset      utf-8;

    access_log  ${OPENSHIFT_DIY_LOG_DIR}/access.log;

    set $root_path '${OPENSHIFT_REPO_DIR}/web/public';

    location / {
        root   $root_path;
        index  index.php index.html index.htm;

        # if file exists return it right away
        if (-f $request_filename) {
            break;
        }

        # otherwise rewrite it
        if (!-e $request_filename) {
            rewrite ^(.+)$ /index.php?_url=/$1 last;
            break;
        }
    }

    location @rewrites {
            rewrite ^/(.*)$ /index.php?_url=/$1;
        }

    location ~ \.php$ {
        # try_files    $uri =404;

        fastcgi_index  index.php;
        fastcgi_pass   unix:${OPENSHIFT_RUN_DIR}/php-fpm.socket;

        include fastcgi.conf;
        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $root_path$fastcgi_path_info;
    }

    location ~* ^/(css|img|js|flv|swf|download)/(.+)$ {
        root $root_path;
    }
}


}
